<div class="row">
<div class=" col parent">
<div class=" card">
	<div *ngIf="joke.joke.hide" class="">
	<p class="text-muted">{{joke.i +"-"+joke.joke.setup}}</p>
	<p>{{joke.joke.punchline}}</p>


</div>
	<!-- add button click delete joke branch delete-joke update -->
	<button class="btn btn-danger"  (click)="deleteJoke(joke.i)"> Delete </button>
	
	<button class="btn btn-info" (click)="joke.joke.toggle()">{{joke.joke.hide?'Hide':'Show'}}</button>
<!-- 	  <button class="btn btn-success" (click)="select()">
    {{ isSelected ? 'Selected' : 'Select'}}
  </button> -->
</div>

</div>
</div>