<!--carousel  -->
<app-carousel [delay]="2000">
	<app-carousel-item>
  <img src="assets/img/cover-forsan-technology.png"  class="img-fluid" alt="imag">
  <h3>Angular Cli </h3>
	</app-carousel-item>
	<app-carousel-item>
  <img src="assets/img/cover-forsan-technology.png"  class="img-fluid" alt="imag">
  <h3> Typescript </h3>
	</app-carousel-item>
	<app-carousel-item>
  <img src="assets/img/cover-forsan-technology.png"  class="img-fluid" alt="imag">
  <h3> Javascript </h3>
	</app-carousel-item>
</app-carousel>

	
<!-- show book-list in app root -->
<app-book-list></app-book-list> 

<!-- Panel -->
<!-- 
<app-panel-list >
			
			
</app-panel-list> -->